<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
</head>

<body class="theme-light">  
  <div class="surface">
    <div class="panel">
      <%- include('./partials/logo'); %> 
      <p> <b>Please login with user email address (password is the lastname)</b> </p>
      <form action="/records" method="get">
        <label for="email"><b>Email Address:</b> </label>
        <input
          id="email"
          type="text"
          name="email"
          value="" />
        <label for="firstName"><b>Password:</b> </label>
        <input
          id="password"
          type="password"
          name="password"
          value="" />
        <input type="submit" value="Login" />
      </form>
      <br />
      <table id="customers">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Link</th>
        </tr>
        <% customers.forEach(function(customers) { %>
          <tr>
            <td><%= customers.firstname %></td>
            <td><%= customers.lastname %></td>
            <td><%= customers.email %></td>
            <td><a href="records?email=<%= customers.email %>&password=<%= customers.lastname %>">Login</a></td>
          </tr>
        <% }); %>
      </table>      
    </div>
  </div>
  </div>
</body>
</html>