<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
</head>

<body class="theme-light">
  
  <div class="surface">
    <div class="panel">
      <div class="font-semibold font-title">Autorepair Specialists
        <p> Please login with user email address (password is the lastname)</p>      
        <% if (loginerror) { %>
          <p>Incorrect Username and/or Password!</p>
        <% } %>
      </div>
      <form action="/records" method="get">
        <label for="email">Email Address: </label>
        <input
          id="email"
          type="text"
          name="email"
          value="" />
        <label for="firstName">Password: </label>
        <input
          id="password"
          type="password"
          name="password"
          value="" />
        <input type="submit" value="Login" />
      </form>
      <br />
      <table id="customers">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Link</th>
        </tr>
        <% customers.forEach(function(customers) { %>
          <tr>
            <td><%= customers.firstname %></td>
            <td><%= customers.lastname %></td>
            <td><%= customers.email %></td>
            <td><a href="records?email=<%= customers.email %>&password=<%= customers.lastname %>">Login</a></td>
          </tr>
        <% }); %>
      </table>      
    </div>
  </div>
  </div>
</body>
</html>