<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
</head>

<body class="theme-light">
  <div class="surface">
    <div class="panel">
      <div class="font-semibold font-title">Autorepair Specialists
        <p> Service Records </p>
      </div>
      <table id="customers">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Credit Card</th>
            <th>Advisor</th>
            <th>Color</th>
            <th>VIN</th>
            <th>Reg. #</th>
            <th>Make</th>
            <th>Model</th>
            <th>Problem</th>
            <th>Cost</th>
            <th>Date</th>
            <th>Status</th>
        </tr>
        <% servicerecords.forEach(function(servicerecord) { %>
          <tr>
            <td><%= servicerecord.firstname %></td>
            <td><%= servicerecord.lastname %></td>            
            <td><%= servicerecord.phone %></td>
            <td><%= servicerecord.creditcard %></td>
            <td><%= servicerecord.name %></td>
            <td><%= servicerecord.vehicle_color %></td>
            <td><%= servicerecord.vehicle_vin %></td>
            <td><%= servicerecord.vehicle_vrm %></td>
            <td><%= servicerecord.vehicle_manufacturer %></td>                    
            <td><%= servicerecord.vehicle_model %></td>
            <td><%= servicerecord.vehicle_problem %></td>    
            <td>$<%= servicerecord.vehicle_repair_cost %></td>
            <td><%= moment(servicerecord.vehicle_repair_date).format('MM/DD/YYYY'); %></td>
            <td><%= servicerecord.vehicle_repair_status %></td>
          </tr>
        <% }); %>
      </table>
      <a href="/">Home</a>
    </div>
  </div>
  </div>
</body>
</html>