<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
</head>

<body class="theme-light">
  <div class="surface">
    <!-- <div class="panel"> -->
      <div class="font-semibold font-title">Hello <%=customerFirstName %>, <%=customerLastName %> </div>
      <p>Contact and Payment Information</p>
      <table id="customers">
        <tr>
            <th>Phone</th>
            <th>Email</th>
            <th>Title</th>
            <th>Address</th>
            <th>Credit Card #</th>
         </tr>
         <tr>
          <td><%= customerPhone %></td>
          <td><%= customerEmail %></td>
          <td><%= customerTitle %></td>
          <td><%= address %>, <%= address2 %>, <%= city %> <%= state %> <%= zip %></td>
          <td><%=maskCard(customerCreditCard)%></td>      
          <% function maskCard(customerCreditCard) {
          return `${'*'.repeat(customerCreditCard.length - 4)}${customerCreditCard.substr(customerCreditCard.length - 4)}`;
          } %>        
         </tr>
      </table> 
      <p>Vehicles Registered</p>
      <table id="customers">
        <tr>
            <th>Vehicle VIN</th>
            <th>Diagnostics</th>
         </tr>
         <% vehicles.forEach(function(vin) { %>
         <tr>
            <td><%= vin %></td>
            <td><a href="/diagnostics?email=<%= customerEmail %>">Diagnose</a></td>
         </tr>
         <% }); %>
      </table>             
      <p> Service Records </p>
      <table id="customers">
        <tr>
            <th>Serivce Req #</th>
            <th>Advisor</th>
            <th>Vehicle Color</th>
            <th>VIN</th>
            <th>Reg. #</th>
            <th>Make</th>
            <th>Model</th>
            <th>Problem Category</th>
            <th>Cost</th>
            <th>Date</th>
            <th>Status</th>
            <th>Payment</th>
        </tr>
        <% servicerecords.forEach(function(servicerecord) { %>
          <tr>
            <% if (servicerecord.id && servicerecord.vehicle_repair_status == "Pending review" ) { %>
              <td><a href="/review?id=<%= servicerecord.id %>"><%= servicerecord.id %></a></td>  
              <%} else { %>
                <td><%= servicerecord.id %></td>
              <% } %>
            <td><%= servicerecord.name %></td>
            <td><%= servicerecord.vehicle_color %></td>
            <td><%= servicerecord.vehicle_vin %></td>
            <td><%= servicerecord.vehicle_vrm %></td>
            <td><%= servicerecord.vehicle_manufacturer %></td>                    
            <td><%= servicerecord.vehicle_model %></td>
            <td><%= servicerecord.vehicle_problem %></td>    
            <td>$<%= servicerecord.vehicle_repair_cost %></td>
            <td><%= moment(servicerecord.vehicle_repair_date).format('MM/DD/YYYY'); %></td>
            <td><%= servicerecord.vehicle_repair_status %></td>
            <% if (servicerecord.vehicle_repair_status != "Paid" && servicerecord.vehicle_repair_status != "Declined by customer" ) { %>
            <td><a href="/payment?customerId=<%= servicerecord.customer_id %>&email=<%= customerEmail %>&cc=<%= customerCreditCard %>&amount=<%= servicerecord.vehicle_repair_cost %>&date=<%= moment(servicerecord.vehicle_repair_date).format('MM/DD/YYYY'); %>">Payment</a></td>  
            <%} else { %>
              <td>No Payment Needed</td>
            <% } %>  
          </tr>
        <% }); %>
      </table>
      <a href="/">Home</a>&nbsp;      
    </div>
  <!--</div> -->
  </div>
</body>
</html>